{% extends 'base.html.j2'%}
{% block title %}
Pokemon!2
{% endblock %}

{% block content %}

<div>
    <button type="button" href="{{url_for('pokemon')}}" class="btn btn-outline-danger">Danger Pokemon Crossing></button>
</div>
<div>
    <button type="button" href="{{url_for('registration')}}" class="btn btn-outline-danger">Registration with Pokemon></button>
</div>

{% endblock %}